<%- include("../../views/partials/user/header") %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1" style="background-image: url(/assets/images/banner22.jpg);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									Dhiraj Bommadevara
								</h2>
							</div>

							
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url(/assets/images/banner11.jpg);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn"
								data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									Deepika Kumari
								</h2>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url(/assets/images/banner33.jpg);">
					
				</div>
			</div>
		</div>
	</section>


	<!-- Banner -->
	<div class="sec-banner bg0 p-t-80 p-b-50">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Images
				</h3>
			</div>

			<div class="row">
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="/assets/images/bannerArcehry.jpg" alt="IMG-BANNER">

					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="/assets/images/bannerArchery2.jpg" alt="IMG-BANNER">
                        
						<a href="product.html"
							class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="/assets/images/bannerArcehry3.jpg" alt="IMG-BANNER">

						<a href="product.html"
							class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Product -->
	<section class="bg0 p-t-23 p-b-140">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Product Overview
				</h3>
			</div>

			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						All Products
					</button>
					<!-- <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
						Recurve
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".bag">
						Compound
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".shoes">
						Accessories
					</button> -->
				</div>
			</div>
			<div class="row isotope-grid">
				<% products.forEach((product)=>{ %>
					
				
					<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item <%= product.category %>">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-pic hov-img0">
								<a href="productDetails?id=<%= product._id %>"></a>
								<img src="/uploads/<%= product.productImage[0] %>" alt="IMG-PRODUCT">
								<a href="/productDetails?id=<%= product._id %>" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
									Quick View
								</a>
							</div>
							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l">
									<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										<%=product.productName %>
									</a>
									<span class="stext-105 cl3">
										Rs. <del style="font-size: small;"><%= product.regularPrice %></del>
									</span>
									<span class="stext-105 cl3">
										<span style="color: red; font-size: 20px;">Rs.<%= product.salePrice %></span><span> stock:<%=product.quantity %></span>
									</span>
								</div>
								<div class="review-stars">
									&#9733;&#9733;&#9733;&#9733;&#9734; <!-- 4 filled stars, 1 empty -->
								</div>
								<div class="block2-txt-child2 flex-r p-t-3">
									<button class="btn btn-instagram wishlist-btn" onclick="toggleWishlist('<%= product._id %>', this)">
										<% if (product.isInWishlist) { %>
											<img class="icon-heart1" src="/assets/images/icons/icon-heart-02.png" alt="ICON">
										<% } else { %>
											<img class="icon-heart1" src="/assets/images/icons/icon-heart-01.png" alt="ICON">
										<% } %>
									</button>
								</div>
								<!-- Add to Cart Button -->
								<div class="block2-txt-child3 p-t-10">
									<button onclick="addToCart('<%= product._id %>')" class="flex-c-m stext-101 cl0 size-101 bg-dark bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
										<i class="fas fa-shopping-cart mr-2"></i>
										Add to Cart
									</button>
								</div>
							</div>
						</div>
					</div>
					
					<% }) %>
			 </div>
			<!-- Load more -->
			<div class="flex-c-m flex-w w-full p-t-45">
				<a href="/shop" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					Load More
				</a>
			</div>
		</div>
	</section>

<script>
	  $('.js-show-modal1').on('click',function(e){
        e.preventDefault();
        $('.js-modal1').addClass('show-modal1');
    });

    $('.js-hide-modal1').on('click',function(){
        $('.js-modal1').removeClass('show-modal1');

    });


</script>

<script src="/js/cart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Initialize cart functionality
        const addToCartButtons = document.querySelectorAll('.btn-add-to-cart');
        addToCartButtons.forEach(button => {
            button.addEventListener('click', function(e) {
                e.preventDefault();
                const productId = this.getAttribute('data-product-id');
                addToCart(productId);
            });
        });
    });


	function addToCart(productId) {
            fetch('/addCart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ productId, quantity: 1 })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            title: 'Success!',
                            text: 'Product added to cart successfully!',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        });
                    } else {
                        Swal.fire({
                            title: 'Error!',
                            text: data.message || 'Failed to add product to cart.',
                            icon: 'error',
                            confirmButtonText: 'Retry'
                        });
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire({
                        title: 'Oops!',
                        text: 'Something went wrong.',
                        icon: 'error',
                        confirmButtonText: 'Close'
                    });
                });
        }


//add to wiahlist

function toggleWishlist(productId, button) {
            const img = button.querySelector('img');
            const isInWishlist = img.src.includes('icon-heart-02.png');
            
            // Determine if we're adding or removing from wishlist
            const url = isInWishlist ? '/removeitem' : '/addWishlist';
            const method = isInWishlist ? 'GET' : 'POST';
            const data = isInWishlist ? { productId } : { productId };
            
            // Disable the button temporarily to prevent double-clicks
            button.disabled = true;
            
            $.ajax({
                url: url,
                type: method,
                data: data,
                success: function(response) {
                    if (response.status) {
                        // Toggle heart icon
                        img.src = isInWishlist 
                            ? '/assets/images/icons/icon-heart-01.png'
                            : '/assets/images/icons/icon-heart-02.png';
                        
                        // Show success message
                        Swal.fire({
                            icon: 'success',
                            title: response.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    } else {
                        // If operation failed, don't toggle the icon
                        Swal.fire({
                            icon: 'error',
                            title: response.message || 'Operation failed',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                    Swal.fire({
                        icon: 'error',
                        title: xhr.responseJSON?.message || 'Something went wrong',
                        showConfirmButton: false,
                        timer: 1500
                    });
                },
                complete: function() {
                    // Re-enable the button
                    button.disabled = false;
                }
            });
        }





</script>



<%- include("../../views/partials/user/footer") %>